/*
COR DA LOGO DO IFC:#389c3a
COR QUE TÀ NO SITE DO IFC: #096318
*/

.ifc-color-1 {
    background-color: #389c3a;
}

.ifc-color-1-text {
    color: #389c3a;
}

.ifc-color-2 {
    background-color: #096318;
}

.ifc-color-2-text {
    color: #096318;
}

/* label color */
.input-field label {
 color: #1c1c1c;
}
/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label {
 color: #389e3c;
}
/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=password]:focus {
 border-bottom: 1px solid #1c1c1c;
 box-shadow: 0 1px 0 0 #1c1c1c;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #1c1c1c;
 box-shadow: 0 1px 0 0 #1c1c1c;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #1c1c1c;
 box-shadow: 0 1px 0 0 #1c1c1c;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #1c1c1c;
}
