/*
COR DA LOGO DO IFC:#389c3a
COR QUE TÀ NO SITE DO IFC: #096318
*/
/*
#searchNavBar > label {
	display: block;
	color: #fff;
}

#searchNavBar:focus > label {
	display: none;
}
*/
/* IFC GREEN */
.ifc-green {
    background-color: #389c3a;
}

.input-field .ifc-green:hover {
    background-color: #096318 !important;
}

.ifc-green-text {
    color: #389c3a;
}

/* IFC RED */
.ifc-red {
    background-color: #ca1c23;
}

.input-field .ifc-red:hover {
    background-color: #910a10 !important;
}

.ifc-red-text {
    color: #ca1c23;
}

/* INVISIBLE */
.invisible {
	display: none !important;
}

/* INVALID */
.invalid {
	border-bottom: 1px solid #f44336 !important;
	box-shadow: 0 1px 0 0 #f44336 !important;
}

/* label color */
.input-field input[type=text] + label, 
.input-field input[type=password] + label,
.input-field input[type=email] + label {
	color: #389c3a;
	font-weight: 500;
}

/* label focus color */
.input-field input[type=text]:focus + label, 
.input-field input[type=password]:focus + label,
.input-field input[type=email]:focus + label {
	color: #096318;
}

/* label underline focus color */
.input-field input[type=text]:focus, 
.input-field input[type=password]:focus,
.input-field input[type=email]:focus {
	border-bottom: 1px solid #1c1c1c;
	box-shadow: 0 1px 0 0 #1c1c1c;
}

/* icon prefix focus color */
.input-field .prefix.active {
	 color: #1c1c1c;
}

/* sticky footer */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
 }